:root {
  --vp-c-brand-1: #E08A9C;
  --vp-c-brand-2: #F0A0B0;
  --vp-c-brand-3: #FBE0E6;
  --vp-c-bg: #FBF3EC;
  --vp-c-text-1: #4A4A4A;
  --vp-c-text-2: #9AA6AE;
  --vp-font-family-base: 'Noto Sans SC', sans-serif;
}

.dark {
  --vp-c-bg: #2A2528;
  --vp-c-brand-1: #C98A96;
}